html { 
  font-size: 16px; 
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
}

.logo {
  width: 10%;
  left: 5rem;
  position: absolute;
  top: 4rem;
}

header {
  height: 100%;
  background-color: #B5FF91;
}

.company {
  text-align: center;
  margin-left: 20rem;
}

.contact {
  text-align: right;
  margin-left: 19.8rem;
  padding-left: 10rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 4rem;
  background-color: lightyellow;
}

.title-text, nav, .mini-about {
  display: inline-flex;
}

.menu {
  background-color: limegreen;
  width: 100%;
  text-align: right;
}

.link {
  color: saddlebrown;
  padding: 1rem;
  margin-bottom: 0;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: saddlebrown;
}

a:hover {
  color: royalblue;
  border-style: solid;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  transition: all 0.5s ease 0s;
}

.intro {
  margin: 5rem;
  margin-right: 10rem;
  margin-top: 5rem;
}

.intro h3 {
  margin-top: 3rem;
}

.sub-title {
  margin: auto;
  text-align: center;
  background-color: saddlebrown;
  box-sizing: border-box;
  border-radius: 1rem;
  padding: 1rem;
  width: 20%;
  margin-top: 2rem;
  color: white;
}

.promise {
  width: 50%;
}

.table {
  margin: 3rem;
  margin-bottom: 5rem;
}

.row{
  width: 90%;
  margin: auto;
  background-color: lightgray;
  display: inline-flex;
  margin-left: 5rem;
}

.about .row {
  background-color: white;
  margin-left: 5rem;
}

.instructors .row {
  background-color: #B5FF91;
}

.nathan {
  width: 60%;
}

.derek {
  width: 65%;
}

.amy {
  width: 65%;
}

.classes .col {
  display: block;
  box-sizing: border-box;
  border: 1px solid black;
}

.heading {
  font-weight: bold;
}

.col {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: left;
}

.col_1_of_4 {
  width: 25%;
}

.col_1_of_3 {
  width: 33.333333%;
  margin-left: 2rem;
}

.instructors {
  background-color: #B5FF91;
}

.instructors .sub-title {
  position: relative;
  top: 1rem;
}

.nondiscriminatory {
  width: 50%;
  margin: auto;
}

footer {
  text-align: center;
  width: 100%;
  background-color: #B5FF91;
  margin-top: 5rem;
  padding: 3rem;
  display: inline-flex;
}

footer nav {
  margin-left: 33rem;
}

.fa-ul {
  margin-left: 20rem;
  margin-top: 0;
  color: saddlebrown;
}

.fa-instagram {
  margin-left: 4rem;
}

.fa-facebook {
  margin-left: 8rem;
}

.fa:hover {
  top: 1rem;
  transition: all 0.5s ease 0s;
}

.copyright {
  background-color: yellowgreen;
  text-align: center;
  padding: 2rem;
  color: white;
}


#slideshow {
  overflow: hidden;
  height: 510px;
  width: 728px;
  margin: 0 auto;
  display: block;
  margin: 5rem;
  margin-left: 5rem;
}

.slide-wrapper {
  width: 2912px;
  -webkit-animation: slide 10s ease infinite;
}

.slide-wrapper:hover {
  animation-play-state: paused;
}

.slide {
  float: left;
  height: 510px;
  width: 728px;
}

.number {
  color: white;
  position: absolute;
  top: 16rem;
  left: 6rem;
}

.slide img {
  width: 40rem;
  height: 30rem;
}

.slide img:hover {
  width: 42rem;
  height: 32rem;
  border-style: double;
  transition: all 1s ease 0s;
}

@-webkit-keyframes slide {
  20% {margin-left: 0px;}
  30% {margin-left: -728px;}
  50% {margin-left: -728px;}
  60% {margin-left: -1456px;}
  70% {margin-left: -1456px;}
  80% {margin-left: -2184px;}
  90% {margin-left: -2184px;}
}